{% extends 'blog/baseb.html' %}

{% block content %}
    <div class="post">
        {% if publicacion.fecha_publicacion %}
            <div class="date">
                {{ publicacion.fecha_publicacion }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'publicacion_publicar' pk=publicacion.pk %}"><span class="fa fa-check"></span></a>

        {% endif %}
        <a class="btn btn-default" href="{% url 'publicacion_editar' pk=publicacion.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'publicacion_borrar' pk=publicacion.pk %}"><span class="fa fa-eraser"></span></a>
        <h2>{{ publicacion.titulo }}</h2>
        <p>{{ publicacion.texto|linebreaksbr }}</p>
    </div>
{% endblock %}